#header{
    background-color: darkred;
}
#header:hover{
    background-color: red;
}
.module caption{
    background-color: darkred ;
}
div.breadcrumbs{
    background-color: darkred;
    margin-top:0.5rem;
}
#changelist-filter h2{
    background-color: darkred;
}
input[type="submit"], button {
    background-color: darkred;
}
.img-brand:hover{
 transform:rotate(360deg);
}
input[type="submit"].default{
    background-color: darkred;
}
input[type="submit"].default:hover{
    background-color: red;
}
input[type="submit"]:hover, button :hover{
    background-color: red;
}